.movie-cart-container{
  position: relative;
    
   img{
    width: calc(70px + 10vw);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
   }
   img:hover{
    filter:grayscale(0.5);
    transform: translateY(-1px);
   }
   .cart-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    color: white;
    font-size: calc(10px + 0.4vw);
   }
   .fav-icon{
    width: 10px;
    cursor: pointer;
   }
   p{
    display: flex;
    justify-content: center;
    font-size: calc(10px + 0.4vw);
    margin: 0;
    color: aliceblue;
   }
   .avereage{
    z-index: 20;
    color:white;
   position: absolute;
   top: 9px;
   background: #aaaaaa;
   padding: 2px;
   font-size: calc(10px + 0.4vw);
   border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   }
  
}