.photos-container{
    .photos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 2vw;
        
    }
    .single-img-container{
        overflow: hidden;
        border-radius: 5px;
        background: #666666;
    }
    .photos img{
        transition: all 0.2s ease-in-out;
        display: inline;
        width: 115px;
        height: 160px;
        overflow: hidden;
        object-fit: cover;  
        cursor: pointer;
      &:hover{
        transform: scale(1.05) rotate(2deg);
        
      } 
    }
    
}
