.persons-details-container{
    background: #141414;
    color:rgb(255, 255, 255);
    
//  .movies-kwon-by{
//     display: flex;
//     flex-wrap:wrap;
//     width: 80vw;
//     justify-content: center;
//     gap: 10px;
//     margin:0 auto;
//  }
    .movies{
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        margin: 0 auto;
        justify-content: center;
        gap: calc(3vw + 8px);
        min-height: calc(100vh - 70px);
    }
}
.loading{
    min-height: 100vw;
    display: flex;
    margin: 0 auto;
    justify-content: center;
 
}

.person-container-1{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 70vw;
    margin: 0 auto;
    gap: 10px;
    padding-top: 20px;
     .img{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #101010;
        height: 35vw;
        width: 70vw;
        border-radius: 5px;
        object-fit: contain;
     }
     .img-container{
display: flex;
justify-content: end;
     }
} 
h1{
    margin-left: 10vw;
}

.details-container{
    div{
        display: flex;
        flex-direction: column;
    }
    .title{
        font-weight: bolder;
        font-size: 13px;
    }
    div .bio{
        font-size: calc(7px + 0.5vw) ;
    }
    h3{
        font-size: 25px;
        letter-spacing: 1px;
    }
   
}
.big-img-container{
     width: 100vw;
     position: fixed;
     top:50%;
     margin: 0 auto;
    
     display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .big-img{
    position: absolute;
   
    
    
    border: none;
    
     button{
        
        
        top: 15px;
        left: 85%;
        
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    width: 40px;
    height:40px;
    background: #ffffff;
    color:rgb(0, 0, 0);
   display: flex;
   justify-content: center;
    align-items: center;
    border: 3px solid rgb(255, 0, 0);
    font-weight: 800;
   transition: all 0.2s ease;
    border-radius: 50%;
     }
     button:hover{
        transform: scale(1.09);
    
     }
     img{
        border: white 1px solid;
        margin: 0 auto;
        width: calc((400px + 20vw) * 0.677) ;
        height: calc(400px + 20vw);
        background: #777777;
     }

}}



@media screen and (max-width :768px) {
    .person-container-1{
        display: grid;
        grid-template-columns: 35% 65%;
        width: 90vw;
        padding-top: 20px;
         .img{
            width: 70vw;
            height: 45vw;
            border-radius: 5px;
         }
    } 
    
}