body{
      background: #141414;
}
.watched-list-title{
      color:white;
      margin-left: 20vw;
}
.movies{
        display: flex;
        flex-wrap: wrap;
        
        margin: 0 auto;
        justify-content: center;
        gap: calc(3vw + 8px);
        min-height: calc(100vh - 70px);
       
      
}
.button{
      color: white;
      background:inherit;
      outline: none;
      border: none;
      position: relative;
      top: 15px;
      border: white 1px solid;
      cursor: pointer;
      display: flex;
      gap: 5px;
      align-items: center;
      font-family: 'Poppins';
      padding: 10px;
     &:hover{
      text-decoration: underline;
     }
}